<div class="jumbotron">
    <div class="container">
        <h1>Want to play a game?</h1>
        <p>Log in to start</p>
        <br>
        <p>
            <%= button_to 'Log In', '/', :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Don't have a account</h3>
            <%= button_to 'Create New User', '/', :method => :get,  :class => "btn btn-primary btn-lg"%>
        </div>
    </div>
</div>