<% content_for :content do %>
  <div class="jumbotron text-center">
      <h1>Dungeons and Discord</h1>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <p>
                  <%= yield %>
              </p>
          </div>
          <div class="col-lg-6">
              <p>

                  
                  <img src="https://assets.digitalocean.com/articles/docker_node_image/sammy.png" alt="DnD_image">
              </p>

          </div>
      </div>
    </div>
  <% end %>
  <%= render template: "layouts/application" %>